@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* menu  */
#menu li > a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form > button{
    font-size: 18px;
    font-weight: bold;
}

/* slider  */
.carousel-inner{
    max-height: 30rem !important;
}

.carousel-inner img{
    position: relative;
    top: -200px;
}


/* mediaqueries */
@media (max-width: 768px){
    #intro{
        width: 90% !important;
    }
}