@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* menu  */
#menu li > a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form > button{
    font-size: 18px;
    font-weight: bold;
}

/* slider  */
.carousel-inner{
    max-height: 30rem !important;
}

/* services */
.imgServices{
    width: 50%;
}

/* seccion local */
.temperaturas div :first-child{
    border-right: 1px solid black;
    /* padding-left: 25px; */
}
.temperaturas div{
    margin-left: 30px;
    text-align: center;
}

/* mediaqueries */
/* large  */
@media (min-width: 768px){
    .carousel-inner img{
        position: relative;
        top: -200px;
    }
}
/* medium */
@media (max-width: 768px){
    #intro, #equipo{
        width: 90% !important;
    }
}